.first
    background: url('../img/first-bg.png') center center/cover no-repeat
    padding-top: 167px
    height: 1923px
    position: relative
    z-index: 1
    .container
        z-index: 10
        position: relative
    &__title    
        font-size: 63px
        text-transform: uppercase
        color: #3f3f3f
        font-family: "Har-Bold"
        margin-bottom: 20px
        position: relative
        z-index: 2
        span
            color: #4b8a3b
    &__bigTitle
        font-size: 98px
        position: absolute
        z-index: 1
        right: -50px
        top: -20px
        -webkit-text-stroke: 1px #fff
    &__subtitle
        font-size: 18px
        background: #7ab36c
        padding: 6px 17px
        color: #fff
        width: max-content
        font-weight: 400
    &__features
        position: relative
    &__item
        position: absolute
        &::before
            content: ''
            display: block
            width: 1px 
            height: 185px
            background: #7ab36c
            opacity: .15
        &--second
            left: 144px
            &::before
                height: 73px
        &--third
            left: 324px
            &::before
                height: 186px
        &--fourth
            left: 495px
            &::before
                height: 75px
        &--five
            left: 639px
            &::before
                height: 186px
    &__itemText
        display: flex
        font-size: 17px
        align-items: center
        position: relative
        &::before
            content: ''
            display: block
            height: 69px
            width: 4px
            background: #7ab36c
            margin-right: 27px
    &__itemNum
        position: absolute
        left: 9px
        top: 2px
        font-size: 17px
        color: rgba(0, 0, 0, .3)
    &__bigText
        position: absolute
        transform: rotate(-90deg)
        top: 490px
        left: -460px
    &__catalog
        position: absolute
        top: 480px
        right: 0
        display: flex
    &__catalogItem
        display: flex
        flex-direction: column
        img
            width: 183px
        &--second
            img
                width: 238px
        &--small
            margin-top: 120px
            margin-right: -70px
    &__catalogBlock
        display: flex
        flex-direction: column
        padding-left: 21px
        position: relative
        &--big
            margin-left: 102px
        &--small
            margin-left: 67px
        &::before
            content: ''
            position: absolute
            left: 0
            display: block
            height: 100%
            width: 4px
            background: #7ab36c
    &__catalogText
        font-size: 17px
        margin-bottom: 8px

.first-content
    margin-top: -760px
    margin-bottom: 140px
    overflow-x: hidden
    position: relative
    z-index: 2
    &__text
        margin-left: 24px
        p
            font-size: 16px
            line-height: 25px
            &:not(:last-child)
                margin-bottom: 20px
    &__top
        margin-top: 56px
    &__block
        display: grid
        grid-template-columns: 1fr 572px
        grid-gap: 20px
    &__item
        display: flex
        flex-direction: column
        position: relative
        &--ladder
            padding-top: 23px
    &__list
        display: flex
        flex-direction: column
        margin-bottom: 27px
        li
            font-size: 17px
            color: #fff
            margin-bottom: 8px
            display: flex
            &::before
                content: ''
                margin-top: 6px
                margin-right: 16px
                background: #fff
                display: block
                min-width: 6px
                max-height: 6px
                border-radius: 50%
    &__btn
        display: block
        margin-bottom: 40px
    &__whitebtn
        display: block
        background: #fff
        color: #7ab36c
        &:hover
            background: transparent
            border: 1px solid #fff
            color: #fff
    &__light
        content: ''
        width: 100%
        position: absolute
        right: -100%
        height: calc( 100% - 23px )
        display: block
        opacity: .2
        background: #7ab36c
        &::before
            content: ''
            position: absolute
            display: block
            top: -20px
            height: 23px
            width: 80%
            background: url('../img/ladder.png') center center/cover no-repeat
    &__green
        background: #7ab36c
        padding: 22px 84px 30px 51px
    &__greenTitle
        font-size: 35px
        line-height: 120%
        margin-bottom: 20px
        color: #fff 
        font-family: "Har-Light"
        font-weight: 300
    &__greenText
        font-size: 17px
        line-height: 25px
        color: #fff 
        font-weight: 400
        &:not(:last-child)
            margin-bottom: 20px
    &__ladder
        position: absolute
        top: 0
        height: 23px
        width: 100%
        img
            height: 100%
            object-fit: cover

.partner
    margin-bottom: 150px
    padding-top: 300px
    overflow: hidden
    .preview__text
        max-width: 250px
    &__mobile
        display: none
    &__block
        position: relative
    &__image
        position: absolute
        top: -470px
        right: -200px
    &__details
        position: absolute
        right: 230px
        top: 310px
        display: flex
        flex-direction: column
        width: 160px
        span
            font-size: 15px
            line-height: 20px
            margin-bottom: 12px
        &::before
            content: ''
            position: absolute
            left: -17px
            display: block
            height: 100%
            width: 4px
            background: #7ab36c
    &__detailsLink
        display: flex
        font-size: 17px
        color: #4b8a3b
        align-items: center
        span
            margin-bottom: 0
        svg
            margin-left: 12px
            display: block
            fill: #4b8a3b
            height: auto
            width: 10px
    &__preview
        margin-bottom: 44px
    &__text
        margin-left: 24px
        p
            font-size: 15px
            max-width: 475px
    &__bigText
        -webkit-text-stroke: 1px #7ab36c
        font-size: 98px
        margin-top: 60px
        margin-bottom: 43px
    &__slider
        margin-bottom: 45px
        position: relative
        &::after
            content: ''
            display: block
            width: 200px
            height: 5px
            position: absolute
            bottom: -50px
            background-color: #4b8a3b
        .slick-track
            display: flex
            align-items: center

    &__item
        position: relative
        margin: 0 20px
        display: flex !important
        align-items: center
        img,svg
            margin: 0 auto
            width: 100%
            height: auto
            object-fit: cover
            &:hover + .product-slider__zoom
                opacity: 1
    &__zoom
        width: 95px
        height: 95px
        background: rgba(122, 179, 108, .3)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        opacity: 0
        transition: .4s
        cursor: pointer
        img,svg
            position: absolute
            top: 50%
            left: 50%
            width: 47px
            height: 47px
            transform: translate(-50%, -50%)
        &:hover
            opacity: 1
    .prev
        position: absolute
        left: 0
        top: 50%
        background: rgba(122, 179, 108, .3)
        width: 54px
        height: 54px
        transform: translateY(-50%)
        cursor: pointer
        z-index: 2
        img
            width: 14px
            height: auto
            position: absolute
            top: 50%
            left: 55%
            transform: translate(-50%, -50%) rotate(180deg)
            margin: 0
    .next
        position: absolute
        right: 0
        top: 50%
        background: rgba(122, 179, 108, .3)
        width: 54px
        height: 54px
        transform: translateY(-50%)
        cursor: pointer
        z-index: 2
        img
            width: 16px
            height: auto
            position: absolute
            top: 50%
            left: 55%
            margin: 0
            transform: translate(-50%, -50%)



.product-list
    position: relative
    z-index: 10
    &__block
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 80px 0
        margin-top: 100px
    &__title
        margin-bottom: 16px
    &__item
        border: solid 3px rgba(122, 179, 108, .3)
        padding: 0 30px 15px 30px
        position: relative
        margin: 0 31px
        min-height: 448px
    &__itemTitle
        font-weight: 400
        margin-bottom: 25px
        font-size: 20px
    &__itemText
        font-size: 15px
    &__image
        position: absolute
        bottom: 15px
        left: -70px
    &__top
        height: 152px
        position: relative
    &__video
        position: absolute
        right: 0
        top: 0
        background-color: #d7e8d3
        width: 90px
        height: 90px
        transition: .4s
        z-index: 10
        svg,img
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            transition: .4s
        &--link
            cursor: pointer
        // &:hover
        //     background: #7ab36c
        //     svg
        //         fill: #fff


    &__documentation
        padding: 19px 40px
        border: solid 1px #000000
        background-color: #fff
        font-size: 17px
        border: 1px solid #4b8a3b
        margin-top: 
        color: #4b8a3b
        margin: 0 auto
        display: block
        margin-top: 40px
        width: 300px
        text-align: center
    .slick-track
        padding-top: 100px
    .prev
        position: absolute
        left: -69px
        top: 60%
        width: 54px
        height: 54px
        transform: translateY(-50%)
        cursor: pointer
        z-index: 2
        img
            width: 28px
            height: auto
            position: absolute
            top: 50%
            left: 55%
            transform: translate(-50%, -50%) rotate(180deg)
            margin: 0
    .next
        position: absolute
        right: -36px
        top: 60%
        width: 54px
        height: 54px
        transform: translateY(-50%)
        cursor: pointer
        z-index: 2
        img
            width: 28px
            height: auto
            position: absolute
            top: 50%
            left: 55%
            margin: 0
            transform: translate(-50%, -50%)

.documentation
    margin-bottom: 160px
    &__title
        margin-bottom: 158px
    &__block
        border: solid 10px rgba(122, 179, 108, .3)
        padding: 50px 50px 50px 350px
        margin-left: 240px
        display: flex
        position: relative
    &__all
        margin-left: auto
        display: flex
        flex-direction: column
        align-items: flex-start
        span
            font-size: 17px
            margin-bottom: 17px
    &__image
        img
            position: absolute
            left: -360px
            top: -100px
    &__list
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: center
            &::before
                content: ''
                opacity: .5
                display: block
                width: 75px
                height: 2px
                margin-right: 14px
                background: #7ab36c
            &:not(:last-child)
                margin-bottom: 30px
            svg
                width: 10px
                height: auto
                margin-left: 18px
                fill: #4b8a3b

.news
    margin-bottom: 84px
    &--page
        margin-bottom: 30px
    .container  
        position: relative
    &__readMore
        display: none
    &__bigText
        position: absolute
        transform: rotate(-90deg)
        top: 140px
        left: -240px
        font-size: 80px
        -webkit-text-stroke: 1px #7ab36c
        opacity: .65
    &__nav
        margin-bottom: 43px 
        display: flex
        align-items: flex-end
    &__all
        margin-left: auto
        color: #4b8a3b
        font-size: 17px
        display: flex
        align-items: center
        svg
            width: 10px
            margin-left: 16px
            height: auto
            fill: #4b8a3b
    &__block
        display: flex
        flex-direction: column
    &__item
        display: flex
        flex-direction: column
        position: relative
        padding: 25px 30px 25px 275px
        border: 3px solid  rgba(122, 179, 108, .3)
        min-height: 219px
        justify-content: center
        margin-left: 23px
        &:not(:last-child)
            margin-bottom: 30px
    &__date
        position: absolute
        bottom: 0
        left: 0
        background: #4b8a3b
        padding: 6px 15px
        color: #fff
    &__image
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -23px
    &__itemTitle
        font-size: 20px
        margin-bottom: 30px
        font-weight: 400 
    &__itemText
        p
            font-size: 15px
            &:not(:last-child)
                margin-bottom: 20px
    &__info
        display: flex
        margin-top: 10px
        border-top: 1px solid #d9d9d9
        justify-content: space-between
        padding-top: 20px
        align-items: center
        span
            font-size: 15px
        a
            font-size: 17px
            color: #7ab36c
            svg
                width: 10px
                height: auto
                fill: #7ab36c

.realised
    margin-bottom: 88px
    position: relative
    z-index: 2
    &__bigText
        position: absolute
        -webkit-text-stroke: 1px #7ab36c
        transform: rotate(270deg)
        left: 104px
        opacity: .65
        font-size: 98px
        top: 70px
    &__block
        display: grid
        grid-template-columns: 1fr
        grid-gap: 88px
    &__item
        display: flex
        flex-direction: column
        margin-left: auto
        width: 817px
        position: relative
    &__box
        border: 6px solid  rgba(122, 179, 108, .3)
        padding: 110px 40px 110px 245px
        position: relative
        transition: .4s
        height: auto
    &__nav
        position: absolute
        bottom: 55px
        left: 60px
        display: flex
        align-items: center
        transition: .4s
        &--open
            opacity: 1
        span
            font-size: 45px
            color: #c2c2c2
            font-weight: 300
            font-family: "Har-Light"
            margin-top: 4px
            margin-left: 2px
            margin-right: 2px
    &__currentNum
        font-size: 45px
        color: #7ab36c
    &__lengthNum
        font-size: 17px
        margin-top: 20px
        color: #c2c2c2
    &__prev
        position: absolute
        bottom: 18px
        width: 10px
        right: 110px
        height: auto
        transform: rotate(180deg)
        z-index: 20
        cursor: pointer
        svg
            fill: #bdbdbd
    &__next
        position: absolute
        margin-left: 20px
        width: 10px
        right: -30px
        bottom: 20px
        height: auto
        cursor: pointer
        z-index: 20
    &__itemTitle
        font-size: 40px
        line-height: 100%
        margin-left: 245px
        color: #454545
        margin-bottom: 50px
        &::before
            min-width: 4px
    &__link
        font-size: 17px
        margin-top: 20px
        color: #7ab36c
        display: flex
        line-height: 17px
        align-items: center
        svg
            width: 10px
            height: 10px
            margin-left: 10px
    &__itemSubtitle
        font-size: 25px
        line-height: 100%
        margin-bottom: 30px
        margin-left: 245px
        color: #454545
    &__boxTitle
        font-size: 25px
        margin-bottom: 30px
    &__boxText
        font-size: 17px
        &:not(:last-child)
            margin-bottom: 25px
        span
            font-weight: 500
    &__images
        visibility: hidden
        height: 0
        transition: .3s
        display: flex
        overflow: hidden
        z-index: 1
        img
            transition: .4s
            position: relative
            display: block
            &::before
                content: ''
                display: block
                position: absolute
                top: 0
                left: 0
                height: 200px
                width: 200px
                background: rgba(0, 0, 0, 1)
    &__boxImage
        position: absolute !important
        left: -330px
        top: -190px
        opacity: 1
        width: 510px
        height: 240px  
        visibility: visible
        transition: 4s
        z-index: 1
        object-fit: cover
        filter: grayscale(100%)
        &--open
            transition: .4s 
            clip-path: polygon(0 0, 100% 0, 100% 80%, 55% 80%, 55% 100%, 0 100%)
            filter: unset
            height: 540px
    &__air
        height: 0
        transition: .4s
    .openCompletedProject
        opacity: 1
        visibility: visible
        height: 150px
        margin-top: 94px
    &__info
        display: flex
        margin-top: 10px
        border-top: 1px solid #d9d9d9
        justify-content: space-between
        padding-top: 20px
        align-items: center
        span
            font-size: 15px
        a
            font-size: 17px
            color: #7ab36c
            margin-left: auto
            svg
                width: 10px
                height: auto
                fill: #7ab36c
    

.completed
    margin-bottom: 50px
    position: relative
    &__block
        display: grid
        grid-template-columns: 1fr
        grid-gap: 88px
    &__item
        display: flex
        flex-direction: column
        margin-left: auto
        width: 817px
        position: relative
    &__box
        border: 6px solid  rgba(122, 179, 108, .3)
        padding: 45px 40px 45px 245px
        position: relative
        transition: .4s
        height: auto
    &__nav
        position: absolute
        bottom: 60px
        left: 40px
        display: flex
        align-items: center
        opacity: 0
        transition: .4s
        &--open
            opacity: 1
        span
            font-size: 45px
            color: #c2c2c2
            font-weight: 300
            font-family: "Har-Light"
            margin-top: 4px
            margin-left: 2px
            margin-right: 2px
    &__currentNum
        font-size: 45px
        color: #7ab36c
    &__lengthNum
        font-size: 17px
        margin-top: 20px
        color: #c2c2c2
    &__prev
        position: static
        margin-right: 20px
        bottom: 0px
        width: 10px
        height: auto
        transform: rotate(180deg)
        z-index: 20
        cursor: pointer
        svg
            fill: #bdbdbd
    &__next
        position: static
        margin-left: 20px
        width: 10px
        bottom: 0px
        height: auto
        cursor: pointer
        z-index: 20
    &__itemTitle
        font-size: 40px
        line-height: 100%
        margin-left: 245px
        text-transform: uppercase
        color: #454545
        font-family: "Har-Bold"
    &__itemSubtitle
        font-size: 25px
        line-height: 100%
        margin-bottom: 30px
        margin-left: 245px
        color: #454545
    &__boxTitle
        font-size: 17px
        margin-bottom: 26px
    &__boxText
        font-size: 17px
    &__images
        visibility: hidden
        height: 0
        transition: .3s
        display: flex
        overflow: hidden
        z-index: 1
        img
            margin: 0 10px
            transition: .4s
            position: relative
            display: block
            opacity: .4
    &__boxImage
        position: absolute !important
        left: -330px
        top: -100px
        opacity: 1
        width: 510px
        height: 240px  
        visibility: visible
        transition: 4s
        object-fit: cover
        filter: grayscale(100%)
        opacity: 1 !important
        font-size: 140px
        &--open
            transition: .4s 
            clip-path: polygon(0 0, 100% 0, 100% 80%, 55% 80%, 55% 100%, 0 100%)
            filter: unset
            height: 540px
    &__open
        position: absolute
        right: -6px
        top: -6px
        height: 54px
        width: 54px
        background: #d7e8d3
        cursor: pointer
        svg
            transition: .4s
            width: 10px
            height: auto
            fill: #7ab36c
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
    &__air
        height: 0
        transition: .4s
    .openCompletedProject
        opacity: 1
        visibility: visible
        height: 150px
        margin-top: 94px
    &__info
        display: flex
        margin-top: 10px
        border-top: 1px solid #d9d9d9
        justify-content: space-between
        padding-top: 20px
        align-items: center
        span
            font-size: 15px
        a
            font-size: 17px
            color: #7ab36c
            margin-left: auto
            svg
                width: 10px
                height: auto
                fill: #7ab36c

    
.contact
    display: flex
    position: relative
    margin-bottom: 43px
    &__img
        position: absolute
        left: 0
        width: 50%
        z-index: 2
        img
            display: block
        &--mobile
            display: none
        #contact-map
            width: 100%
            height: 506px
    &__block
        display: flex
        flex-direction: column
        margin-left: 50%
    &__title
        margin-top: 50px
        margin-bottom: 65px
        margin-left: 33px
    &__rect
        padding: 50px 150px 42px 70px
        border: 10px solid  rgba(122, 179, 108, .3)
        margin-left: -10px
        z-index: 1
        &--page
            margin-top: 100px
        ul
            display: flex
            flex-direction: column
            li
                display: flex
                flex-direction: column
                
                &:not(:last-child)
                    margin-bottom: 15px
                a
                    font-size: 17px
                span
                    font-size: 17px
                    display: flex
                    align-items: center
                    position: relative
                    &::before
                        content: ''
                        background: #9c9c9c
                        display: block
                        width: 6px
                        height: 6px
                        border-radius: 50%
                        position: absolute
                        left: -14px
    &__mail
        color: #d3362f
        text-decoration: underline

.contact-map
    margin-top: 160px
    margin-bottom: 20px
    &__image
        width: 100%
        img
            width: 100%
    &__country
        display: none
    &__mobile
        display: none


.documentation-page
    margin-top: 174px
    margin-bottom: 45px
    height: auto
    &__block
        margin-left: 241px
        width: 100%
        border: 10px solid rgba(122, 179, 108, .3)
        padding: 50px 50px 75px 50px
        position: relative
    &__image
        position: absolute
        left: -390px
        top: -150px
    .first-level
        margin-left: 370px
        li
            &:not(:last-child)
                margin-bottom: 36px
                
            a
                font-size: 15px
                margin-top: 7px
                color: #4b8a3b
            span
                display: flex
                font-size: 17px
                line-height: 20px
                align-items: center
                position: relative
                width: max-content
                svg
                    width: 19px
                    height: 10px
                    margin-left: 16px
                    fill: #4b8a3b
                &::before
                    content: ''
                    display: block
                    position: absolute
                    right: calc( 100% + 16px )
                    width: 75px
                    height: 2px 
                    background: #7ab36c
                    opacity: .5
                    top: 50%
        a
            transition: .4s
            text-decoration: underline
            &:hover
                color: #bababa

    .second-level
        margin-left: 50px
        display: none
        margin-top: 20px
        &__item
            &:not(:last-child)
                margin-bottom: 36px
        li    
            a
                font-size: 15px
                margin-top: 7px
                color: #4b8a3b
            span
                display: flex
                font-size: 17px
                line-height: 20px
                align-items: center
                position: relative
                width: max-content
                svg
                    width: 19px
                    height: 10px
                    margin-left: 16px
                    fill: #4b8a3b
                &::before
                    content: ''
                    display: block
                    position: absolute
                    right: calc( 100% + 16px )
                    width: 32px
                    height: 2px 
                    background: #7ab36c
                    opacity: .5
                    top: 50%

    .third-level
        margin-left: 50px
        display: none
        li
            &:not(:last-child)
                margin-bottom: 36px
                
            a
                font-size: 15px
                margin-top: 7px
                color: #4b8a3b
            span
                display: flex
                font-size: 17px
                line-height: 20px
                align-items: center
                position: relative
                width: max-content
                svg
                    width: 19px
                    height: 10px
                    margin-left: 16px
                    fill: #4b8a3b
                &::before
                    content: ''
                    display: block
                    position: absolute
                    right: calc( 100% + 16px )
                    width: 32px
                    height: 2px 
                    background: #7ab36c
                    opacity: .5
                    top: 50%
                
    .open-second-level,
    .open-third-level
        cursor: pointer

