@media (max-width: 1200px)
    .about
        padding-top: 160px
        background-position-y: -110px
        &__title
            font-size: 50px
            margin-bottom: 30px
            line-height: 50px
        &__preview
            margin-top: 57px
        &__number
            &--first
                top: 300px
            &--third
                top: 554px
            &--second
                top: 425px
                right: 216px
        &__bigText
            font-size: 110px
            left: -365px
            top: 330px
        &__bigTitle
            font-size: 70px
    .direction
        margin-top: -815px
        margin-bottom: 75px
        &__block
            margin-left: 12px
        &__icon
            left: -15px
            top: -16px
        &__item
            &--first
                height: 382px
                min-width: 291px
                &::before
                    width: 70%
            &--second
                margin: 0 30px
                &::before
                    width: 70%
            &--third                
                &::before
                    width: 70%
            &--four
                width: 610px
                margin: 39px 30px 0 30px
                &::before
                    width: 85%
        &__itemTitle
            margin-left: 55px
            margin-bottom: 20px
            &--second
                margin-left: 65px
                margin-bottom: 35px
            &--third
                margin-bottom: 35px
                margin-left: 65px
            &--four
                margin-bottom: 35px
                margin-left: 65px
    .equipment
        margin-bottom: 47px
        &__title
            margin-bottom: 91px
        &__block
            grid-gap: 78px 104px
        &__item
            width: 400px
        &__itemTitle
            margin-left: 0
            margin-top: 107px
            margin-bottom: 20px
        &__image
            top: -16px
            left: -37px
            img
                max-width: 80%
            &--second
                top: -54px
                left: -37px
            &--third
                top: -67px
                left: -44px
            &--fourth
                top: -68px
                left: -33px
            &--five
                top: -32px
                left: -50px
    .sertificate
        &__block
            width: 781px
        &__nav
            img
                margin: 0 25px
        .prev
            left: -23px
        .next
            right: 13px
    .contact-map
        margin-top: 57px
    .quality
        height: 450px
        &__image
            width: 80%
        &__info
            max-width: 40%
            top: 0
            right: 30px
            left: unset
        &__title
            margin-bottom: 20px

@media (max-width: 991px)
    .about
        padding-top: 88px
        background: url('../img/about-m-bg.png') center center/cover no-repeat
        height: 1710px
        &__bigTitle
            font-size: 70px
            z-index: 1
            top: -40px
            left: -20%
            opacity: .7
        &__title
            text-align: center
            font-size: 24px
            margin-bottom: 38px
            position: relative
            z-index: 2
        &__text
            text-align: center
            font-size: 15px
        &__preview
            margin-top: 26px
            .preview
                &__num
                    margin-right: 20px
                    font-size: 78px
                    margin-bottom: 10px
                    line-height: 58px
                    &::before
                        margin-right: 6px
                &__text
                    font-size: 15px
        &__number
            right: 0
            align-items: flex-start
            position: static
            width: 185px
            margin-bottom: 10px
        &__numberItem
            font-size: 50px
            line-height: 50px
            &::before
                height: 45px
            span
                font-size: 25px
        &__allNumbers
            margin-left: auto
            margin-top: 50px
            display: flex
            flex-direction: column
            align-items: flex-end
        &__numberText
            font-size: 15px
            margin-top: 8px
    .direction
        margin-top: -620px
        &__title
            margin: 0 auto
            width: max-content
            max-width: 100%
            margin-bottom: 48px
        &__item
            width: 100%
            height: 100%
            min-width: unset
            border: solid 3px rgba(122,179,108,0.3)
            &::before
                display: none
            &::after
                display: none
            &--hide
                display: block
        &__block
            margin-left: 0
        .slick-list 
            
            padding-top: 16px
            padding-left: 10px
        &__icon
            left: -10px
            top: -16px
        &__itemTitle
            font-size: 17px
        .prev
            position: absolute
            left: -10px
            top: 50%
            width: 34px
            height: 34px
            cursor: pointer
            transform: translate(-50%, -50%) rotate(180deg)
            
        .next
            position: absolute
            right: -54px
            top: 50%
            width: 34px
            height: 34px
            cursor: pointer
            transform: translate(-50%, -50%)
    .equipment
        &--page
            margin-top: 4px
        &__title
            max-width: 270px
            margin-bottom: 30px
        &__block
            display: block
            grid-gap: unset
            margin: 0 auto
            padding-top: 0
        &__box
            padding: 25px
        &__itemTitle
            width: 100%
            font-size: 18px
            text-align: center
            margin-bottom: 20px
            margin-top: 70px
        &__linkText
            display: none
        &__linkList
            margin-right: 10px
        &__link
            margin-right: 0
            margin: 0 auto
            span
                margin-left: 0
                margin: 0 auto
        &__item
            padding-top: 60px
            padding-left: 10px
            width: 100%
            &--page
                &:not(:last-child)
                    margin-bottom: 50px
        &__video
            width: 67px
            height: 67px
            svg
                width: 25px
                height: auto
        &__image
            left: -10px
            top: -60px
            img
                max-width: 70%
        &__text
            p
                font-size: 15px
                text-align: center
        .prev
            position: absolute
            left: -12px
            top: 50%
            width: 34px
            height: 34px
            cursor: pointer
            transform: translate(-50%, -50%) rotate(180deg)
            
        .next
            position: absolute
            right: -52px
            top: 50%
            width: 34px
            height: 34px
            cursor: pointer
            transform: translate(-50%, -50%)
    .sertificate
        .container
            padding: 0
        &__title
            margin-bottom: 290px
        &__block
            width: 100%
            max-width: 250px
            margin-left: 0
            margin: 0 auto
            padding: 33px 10px 31px 10px
            padding-top: 80px
        &__for
            left: 50%
            transform: translateX(-50%)
            top: -190px
            width: 75%
            height: auto
            img
                width: 100%
                height: auto
        &__nav
            width: 100%
            img
                margin: 0 15px
        .prev
            left: -67px
        .next
            right: -67px
        &__bigText
            top: 60px
            font-size: 39px
            left: 50%
            transform: translate(-50%)
        &__zoom
            svg
                width: 35px
                height: 35px
                margin-left: 5px
                margin-top: 5px
    .international
        &__title
            font-size: 36px
    .international-about
        &__block
            display: flex
            flex-direction: column
        &__green
            margin-left: 0
            margin-top: 20px
        &__stat
            margin-top: 30px
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 20px 0
        &__item
            span
                font-size: 36px
                margin-bottom: 10px
            p
                font-size: 15px
                &::before
                    margin-bottom: 10px
    .about-group
        &__circle
            margin-top: 20px
    .quality
        height: auto
        display: flex
        flex-direction: column
        width: 288px
        margin: 0 auto
        padding-bottom: 40px
        &__image
            position: static
            width: 100%
        &__info
            position: static
            max-width: 100%
        &__title
            margin-left: 0
            margin-bottom: 20px