html,
body 
	height: 100%
	font-family: "Har-Regular"
	color: #000

.wrapper 
	display: flex
	flex-direction: column
	min-height: 100%

.main 
	word-wrap: break-word
	flex: 1 0 auto

.footer 
	flex: 0 0 auto

.container
	width: 1140px
	margin: 0 auto

.title,
.smalltitle
	word-wrap: break-word
	font-size: 45px
	color: #000
	font-family: "Har-Light"
	display: flex
	font-weight: 300
	&::before
		content: ''
		display: block
		height: auto
		width: 4px
		background: #7ab36c
		margin-right: 27px

.smalltitle
	font-size: 35px
	line-height: 130%
	&::before
		height: 25px
		margin-top: 8px
		min-width: 4px

.subtitle
	word-wrap: break-word

.btn
	padding: 15px 24px
	font-size: 17px
	color: #fff
	background: #7ab36c
	width: max-content

.bigText
	font-size: 143px
	font-family: "Har-Bold"
	color: transparent
	text-transform: uppercase
	-webkit-text-stroke: 1px #fff

input
	cursor: pointer
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&::-ms-input-placeholder,
		color: #fff
	
a
	color: #000
	&:hover
		text-decoration: none

.breadCrumbs
	margin-top: 50px
	margin-bottom: 50px
	&__link
		display: flex
		align-items: center
		a,span
			color: #878787
			font-size: 17px
			line-height: 90%
		span
			margin: 0 4px
	&__current
		color: #000 !important
	&__title
		margin-top: 22px
		color: #4c4c4c
		font-size: 63px
		font-family: "Har-Bold"
		text-transform: uppercase
		line-height: 100%
	&__subtitle
		margin-top: 16px
		font-size: 25px
		color: #4c4c4c


.preview
	display: flex
	&__num
		color: #4b8a3b
		font-size: 130px
		line-height: 95px
		margin-right: 22px
		display: flex
		font-family: "Har-Bold"
		&::before
            content: ''
            display: block
            height: 100%
            width: 4px
            background: #7ab36c
            margin-right: 27px
	&__text
		font-size: 20px
		color: #000
		max-width: 180px

.header
	z-index: 10
	position: relative
	&--first
		position: absolute
		width: 1140px
		left: 50%
		transform: translateX(-50%)
	&__nav
		display: flex
		padding-top: 27px
	&__logo
		margin-right: 145px
		margin-top: 16px
	&__address
		margin-right: 138px
		font-size: 15px
	&__link
		display: flex
		flex-direction: column
	&__phone
		font-size: 20px
		text-align: left
		font-family: 'Har-SemiBold'
	&__mail
		font-size: 15px
		text-align: left
	&__menu
		margin-left: auto
		display: flex
		flex-direction: column
		align-items: center
		padding: 11px
		width: 65px
		height: 61px
		background: url('../img/svg/menu.png') center center/cover no-repeat
		position: relative
		cursor: pointer
		svg
			margin-bottom: 10px
		span
			font-size: 15px
			line-height: 100%
		&:hover > .menu
			opacity: 1
			z-index: 10
			visibility: visible
		

.menu
	position: absolute
	top: 62px
	border-top: 5px solid rgba(0, 0, 0, .0)
	background: #fff
	right: 0
	width: 427px
	padding: 33px 40px 43px 25px
	z-index: 100
	opacity: 0
	z-index: -1
	visibility: hidden
	transition: .4s
	&__title
		font-size: 25px
		padding-bottom: 20px
		border-bottom: 1px solid #d6d6d6
		line-height: 100%
	&__list
		margin-top: 20px
		li
			display: flex
			a
				font-size: 20px
				line-height: 100%
				display: flex
				flex-direction: column
			&::before
                content: ''
                margin-top: 7px
                margin-right: 14px
                background: #7ab36c
                display: block
                min-width: 7px
                max-height: 7px
                border-radius: 50%
			&:not(:last-child)
				a
					margin-bottom: 20px
	&__open
		&:hover + .sub-menu
			opacity: 1
			height: 182px
			margin-bottom: 20px
	&__ladder
		position: absolute
		bottom: 0
		width: 100%
		height: 23px
		left: 0
	.sub-menu
		opacity: 0
		height: 0
		transition: .5s
		margin-left: 20px
		&:hover
			opacity: 1
			height: 182px
			margin-bottom: 20px
		li
			&::before
				content: ''
				margin-top: 7px
				margin-right: 14px
				border: 1px solid #7ab36c
				background: #fff
				display: block
				min-width: 7px
				max-height: 7px
				border-radius: 50%
			a
				font-size: 17px

			

.footer
	display: flex
	height: 286px
	&__left
		background: #409458
		width: 60%
		padding: 30px 60px 0 390px
		display: flex
		justify-content: space-between
	&__menu
		display: flex
		flex-direction: column
	&__list
		display: flex
		flex-direction: column
		margin-bottom: 26px
		li
			margin-bottom: 6px
			a
				font-size: 15px
				color: #fff
	&__reserve
		color: rgba(255, 255, 255, 0.5)
		font-size: 15px
		display: flex
		flex-direction: column
		span
			opacity: .5
			&:not(:last-child)
				margin-bottom: 12px
		a
			color: rgba(255, 255, 255, 0.5)
			text-decoration: underline
		&::before
			content: ''
			display: block
			width: 250px
			height: 1px
			background: #fff
			margin-bottom: 20px
	&__equipment
		display: flex
		flex-direction: column
	&__equipmentTitle
		color: #fff
		font-size: 17px
		margin-bottom: 12px
		text-transform: uppercase
	&__equipmentText
		display: flex
		flex-direction: column
		p
			font-size: 15px
			color: rgba(255, 255, 255, 0.5)
			opacity: .5
			margin-bottom: 6px
	&__right
		width: 40%
		background: #266738
		padding: 30px 390px 0 30px
		display: flex
		flex-direction: column
	&__contact
		display: flex
		align-items: center
		&:not(:last-child)
			margin-bottom: 30px
		svg
			margin-right: 15px
		a
			font-size: 15px
			color: #fff